hello

<%= @my_var %>

<form phx-submit="new_article">
 <ul>
    <li><input type ="text" name ="title"/></li>
    <li><input type ="text" name ="subtitle"/></li>
    <li><textarea name ="body"></textarea></li>
    <li><button> save </button></li>
 </ul>
</form>


<!-- <h1 title="hello" class ="subtitle" id="main"> Hello World </h1> -->
